aside{
    @include letra-titulos-secundarios;
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url(../img/imagennav.jpg);
    background-position:1em;
    border: 1px solid black; 
    .aside_equipamiento_contenido{
        display: grid;
        grid-template-rows: auto auto auto;
        justify-items: center;
        background-color: rgba(255, 0, 0, 0.323);
        .aside_equipamiento_contenido--1{
            text-align: center;
            font-size: 50px;
        }
        
        .aside_equipamiento_contenido--2{
            font-size: 30px;
        }
        .aside_equipamiento_contenido--3{
            @extend .aside_equipamiento_contenido--2
        }
    }
}
