main{
    width:100%;
    .camperas{
        @include ajustes-main;
        h2{
            @include letra-titulos-secundarios; 
         }
    
        .form_section{
            display: grid;
            width: 100%;
            justify-content: center;
            align-content: center;
            grid-template-columns:100px;
            border-top: 5px solid rgba(165, 160, 207, 0.777);
            border-bottom: 5px solid rgba(165, 160, 207, 0.777);
            align-items: center;
            justify-items: center;
            justify-self: center;
            grid-template-rows:auto auto auto auto;
            form{
                width: auto;
                animation-name: hood;
                animation-duration: 1.5s;
                @keyframes hood {
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
                label{
                    padding: 10px 0;
                    font-size: 35px;
                    color: white;
                }
                input{
                    color: black;
                    font-size: 35px;
                    border-radius: 45px;
                }
                .form_section_botones{
                    display: grid;
                    padding:5px 0 5px 0;
                    grid-template-columns: auto auto;
                    align-items: center;
                    justify-items: center;
                    .buton--1{
                        border-radius: 12px;
                        width:auto;
                        padding:5px 4px;
                        gap: 10px;
                        background-color: rgba(255, 248, 248, 0.454);
                    }
                    .buton--2{
                        @extend .buton--1
                    }
                }

            }
        }     
  
    }     
} 
