main{
    .camperas{
        grid-template-columns: auto;
        display: grid;
        row-gap: 0;
        padding-top: 20px;
        grid-template-columns:auto;
        border: 1px solid black; 
        h2{
            @include letra-titulos-secundarios; 
            padding: 1em;
         }
    
        .form_section{
            display: grid;
            width: 300px;
            justify-content: center;
            align-content: center;
            grid-template-columns:100px;
            border-top: 5px solid rgba(165, 160, 207, 0.777);
            border-bottom: 5px solid rgba(165, 160, 207, 0.777);
            align-items: center;
            justify-items: center;
            justify-self: center;
            grid-template-rows:auto auto auto auto;
            form{
                animation-name: hood;
                animation-duration: 1.5s;
            }
            @keyframes hood {
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
            label{
                padding: 20px 0;
                font-size: 35px;
                color: white;
            }
            input{
                color: black;
                font-size: 35px;
                border-radius: 45px;
            }
            .form_section_botones{
                display: grid;
                width: 400px;
                display: grid;
                padding:5px 0 5px 0;
                grid-template-columns: auto auto;
                gap: 10px;
                align-items: center;
                justify-items: center;
            
            }
        }     
  
    }     
} 
