main{
    .camperas{
        @include ajustes-main;
    
        h1:hover{
            background-color: rgba(0, 0, 0, 0.14);
            color:rgb(0, 0, 0);
            transform: scale(1.2);
            border-radius: 10px;
        }
        h5{
            font-size:30px;
            color: white;
            font-family:'Roboto', sans-serif;
            padding:5px;
            font-weight: 600;
        }
        p{
            color:white;
            font-family:'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 400;
            padding: 1em;
            text-align: center;
        }
    
        .camperas_texto{
            display: grid;
            color: white;
            h1{
                @include letra-titulos-secundarios;
            }
            
        }
        .camperas_texto_img{
            img{
                background: linear-gradient(175deg, #000000, #cd323291);
        
            }
        }
        
        .camperas_texto_motivacional{
                h4{
                    @include letra-titulos-secundarios;
                }
            }
    }
}
     nav{
        display: grid;
        grid-area:nav;
        grid-template-columns: repeat(3,auto);
        justify-content: space-around;
        background-color: rgba(218, 134, 134, 0.228);
        border: 1px solid rgb(0, 0, 0); 
        div{
            a{
                img{
                    width: 250px;
                }
                .hovernav:hover{
                    transform: scale(0.9);
                }
            }
        }
     }
     aside{
        border: 1px solid black; 
     }
