nav{
    display: flex;
    border: 1px solid black; 
    font-size: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing:5px; 
    background-color:rgba(218, 134, 134, 0.228);
    .mapa_nosotros{
        display: grid;
        grid-template-columns:repeat(3,auto);
        justify-content: space-around;
        align-items: center;
        padding-top:8px;
        padding-bottom:8px;
        div{
            text-align: center;
            font-size: 20px;
            font-family: 'Archivo Narrow', sans-serif;
            color:black;
            font-weight: 400
        }
        iframe{
            border: solid 10px rgba(0, 0, 0, 0.698);
            border-radius: 30px;
        }
    
    }

}